body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#score-element {
    position: absolute;
    top: 2%;
    left: 2%;
    color: white;
    font-size: 5vw; 
    z-index: 10;
}

#game-over-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(4, 3, 3, 0.5);
    color: white;
    padding: 2%;
    text-align: center;
    border-radius: 1vw; 
    z-index: 20;
}

.game-over-text {
    font-size:5vw; 
    color: red;
}

#game-over-screen th, #game-over-screen td {
    padding: 2%;
    text-align: center;
    font-size: 3vw; 
}
#game-over-screen th {
    padding-right: 4vw;
}

.restart-button {
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 1% 2%;
    font-size: 3vw; 
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 0.5vw; 
    cursor: pointer;
    z-index: 10;
}

.restart-button:hover {
    background-color: #d32f2f;
}

#toggle-camera-button {
    position: absolute;
    bottom: 1%;
    right: 1%;
    z-index: 1;
    padding: 4% 8%;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}